<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>board</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div class="container">
    <h2>댓 등록</h2>
    <form id="frm" name="frm" method="post" th:action="@{|/posts/${postId}/comments|}">
        <table class="board_detail">
            <tr>
                <td>작성자</td>
                <td><input type="text" id="writer" name="writer"/></td>
            </tr>
            <tr>
                <td>내용</td>
                <td colspan="2">
                    <textarea id="content" name="content"></textarea>
                </td>
            </tr>
        </table>
        <input type="hidden" id="postId" name="postId" th:value="${postId}">
        <input type="submit" id="submit" value="저장" class="btn">
    </form>
</div>
</body>
</html>